/* 
font-family: 'Mitr', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Cherry Swash', cursive; */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background: #e3e3e3;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






header {
    display: flex;
    flex-direction: column;
    border-radius: 55px;
    background-color: #6d748c;
    height: 7rem;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 9px;
    border: 7px dotted #1f1f44;
    margin: 2%;
}






h1 {
    display: flex;
    height: auto;
    padding: 5px;
    font-family: 'Cherry Swash', cursive;
    color: #e3e3e3;
    font-size: 4rem;

}



nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
    height: auto;



}

nav a {
    color: #a00000;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Cherry Swash', cursive;

}



.first {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   background: #6d748c;
   border-radius: 75px;
   margin: 3%;
   padding: 10px;
   justify-content: center;
   height: 17rem;
   width: 90%;
    
   border: 1px solid #1f1f44;

}


.salmon-img {

    border-radius: 99px;
    height: 15rem;
    width: 45%;
    padding: 5px;

}

.salmon-text {
    color: #e3e3e3;

    width: 45%;
    height: 15rem;
    justify-content: space-between;
    text-align: justify;
    text-align-last: center;
    padding: 5px;
    font-family: 'Nunito', sans-serif;

}

.salmon-text h2 {
    text-align: justify;
    font-family: 'Mitr', sans-serif;
    color: #a00000;
    padding: 5%;
    font-size: 1.3rem;    
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #1f1f44;
}


.blank {
 border-top: 3px double #a00000;
 background: #1f1f44;
 border-bottom: 3px double #a00000;
}




.mid {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   background: #6d748c;
   border-radius: 75px;
   margin: 3%;
   padding: 15px;
   height: 31rem;
   width: 90%;
     
 border: 1px solid #1f1f44;
}

.veg {
    height: 97%;
    width: 50%;
    padding: 0 auto;

    border-right: 5px dotted #1f1f44;
}

.veggies-img {

    border-radius: 99px;
    height: 15rem;
    width: 97%;
    padding: 5px;

}
.veggies-text {
    color: #e3e3e3;

    width: 90%;
    height: 15rem;
    justify-content: space-between;
    text-align: center;
    text-align-last: center;
    padding: 5px;
    font-family: 'Nunito', sans-serif;

}

.veggies-text h2 {
    text-align: justify;
    font-family: 'Mitr', sans-serif;
    color: #a00000;
    padding: 5%;
    font-size: 1.3rem;    
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #1f1f44;
}


.fruits {
    height: 97%;
    width: 50%;
    padding: 0 auto;

    border-left: 5px dotted #a00000;

}
 


.fruit-text {
    color: #e3e3e3;
    width: 90%;
    height: 15rem;
    justify-content: space-between;
    text-align: center;
    text-align-last: center;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    

}


.fruit-text h2 {
    text-align: justify;
    font-family: 'Mitr', sans-serif;
    color: #a00000;
    padding: 5%;
    font-size: 1.3rem;    
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #1f1f44;
}


.fruit-img {

    border-radius: 99px;
    height: 15rem;
    width: 97%;
    padding: 5px;

}



.bottom {
    display: flex;
    flex-wrap: wrap;
    background: url(img/cookies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #6d748c;
    border-radius: 75px;
    margin: 3%;
    padding: 10px;
    justify-content: center;
    height: 7rem;
    width: 90%;
     
    
 }
 
 
 .cookies-text h2 {
     height: auto;
     width: 21rem;
    text-align: center;
    font-family: 'Cherry Swash', cursive;
    color: #a00000;
    padding: 10%;
    font-size: 1.9rem;    
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #1f1f44;
    background-image: radial-gradient(#e3e3e3, #6d748c, #1f1f44);
    border-radius: 49%;
}


 

 
